* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .mainMenu {
  flex: 1;
  margin-left: 20px;
}

.container nav ul {
  display: flex;
}

.container nav ul li {
  padding: 0 10px;
}

.container nav ul li a::after {
  content: "";
  height: 2px;
  display: block;
  background-color: transparent;
  width: 0px;
  transition: width 0.5s;
}

.container nav ul li a:hover::after {
  width: 100%;
  background-color: grey;
}

.btn {
  cursor: pointer;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #262626;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.showCase {
  width: 100%;
  height: 400px;
  background: url("/pic/surface.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 10px;
}
.showCase h2,
.showCase p {
  margin-bottom: 20px;
}
.showCase a {
  margin-top: 10px;
}
.homeCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.homeCards img {
  width: 100%;
  margin-bottom: 20px;
}
.homeCards h3 {
  margin-bottom: 5px;
}
.homeCards a {
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0px;
  /* transition: all 0.9s ease-in-out; */
}

.homeCards a:hover i {
  margin-left: 10px;
}

.xbox {
  height: 350px;
  width: 100%;
  background: url("/pic/xbox.png") no-repeat center center/cover;
  margin-bottom: 40px;
}
.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px;
}
.xbox p,
.carboon p {
  margin: 10px 0 20px;
}

.carboon {
  height: 350px;
  width: 100%;
  background: url("/pic/carbon.jpg") no-repeat center center/cover;
  margin-bottom: 40px;
}

.carboon .content {
  padding: 100px 0 0 30px;
}

.white > .content {
  color: #fff;
}

.white .btn {
  background-color: #f4f4f4;
  color: #333;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

.links {
  background-color: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.linksInner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
}

.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

.menuBTN {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

@media (max-width: 700px) {
  .menuBTN {
    display: block;
  }

  .menuBTN:hover {
    opacity: 0.5;
  }

  nav ul.mainMenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
  }

  nav ul.mainMenu.show {
    transform: translateX(-20px);
  }

  nav ul.mainMenu li:last-child {
    border-bottom: 0;
  }

  .nav ul.mainMenu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .homeCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .xbox .content p {
    display: none;
  }
  .xbox .content h2 {
    margin-bottom: 20px;
  }
  .carboon .content {
    width: 85%;
  }
  .links .linksInner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .homeCards {
    grid-template-columns: 1fr;
  }
  .links .linksInner {
    grid-template-columns: 1fr;
  }
  .links .linksInner ul {
    margin-bottom: 20px;
  }
}
