* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .mainMenu {
  flex: 1;
  margin-left: 20px;
}

.container nav ul {
  display: flex;
}

.container nav ul li {
  padding: 0 10px;
}

.container nav ul li a::after {
  content: "";
  height: 2px;
  display: block;
  background-color: transparent;
  width: 0px;
  transition: width 0.5s;
}

.container nav ul li a:hover::after {
  width: 100%;
  background-color: grey;
}

.btn {
  cursor: pointer;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #262626;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.showCase {
  width: 100%;
  height: 400px;
  background: url("/pic/surface.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 10px;
}
.showCase h2,
.showCase p {
  margin-bottom: 20px;
}
.showCase a {
  margin-top: 10px;
}
